@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/FiraSans.woff2") format("woff2");
}

:root {
	--color-anthracite: #45546b;
	--color-blue: #0abaf0;
	--color-white: #ffffff;
	--color-green: #a3c717;
	--color-red: #e7324c;
	--color-orange: #fbbc43;
	--color-grey: #6c8080;
	--color-grey-80: #6c8080cc;
	--color-grey-60: #6c808099;
	--color-grey-40: #6c808066;
	--color-grey-20: #6c808033;
	--color-grey-10: #6c80801a;
	--border-radius: 5px;
}

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Fira Sans";
}

a {
	color: var(--color-blue);
	background-color: transparent;
	text-decoration: none !important;
	
	&:active,
	&:focus,
	&:hover {
		color: var(--color-anthracite);
		transition: color .6s ease;
	}
}

.article-metadata a {
	color: black;
	
	&:active,
	&:focus,
	&:hover {
		color: var(--color-blue);
		transition: color .6s ease !important;
	}
}

.author-card .card-title a {
	color: var(--color-blue);
	
	&:active,
	&:focus,
	&:hover {
		color: var(--color-anthracite);
		transition: color .6s ease !important;
	}
}

.author-highlighted a {
	color: black;
	
	&:active,
	&:focus,
	&:hover {
		color: var(--color-blue);
		transition: color .6s ease !important;
	}
}

.btn {
	border: 0;
	border-radius: var(--border-radius);
	font-size: 1.35rem;
	padding: 10px 20px;
}

.btn-primary {
	background-color: var(--color-blue);
	
	&:active,
	&:focus,
	&:hover {
		background-color: var(--color-anthracite);
		transition: color .6s ease !important;
	}
}

.btn-outline-primary {
	background-color: transparent;
	border: 1px solid var(--color-blue);
	color: var(--color-blue);
	
	&:active,
	&:focus,
	&:hover {
		background-color: var(--color-blue);
		border: 1px solid var(--color-blue);
		color: var(--color-white);
		transition: color .6s ease !important;
	}
}

.center {
	text-align:center;
}

.experience .m-2 .border, .experience .col.border-right {
	border-color: var(--color-blue) !important;
}

.experience .m-2 .border.exp-fill {
	background-color: var(--color-blue) !important;
}

.navbar {
	font-family: "Fira Sans";
	background-color: var(--color-anthracite);
	color: var(--color-white);
}

.navbar .navbar-nav .nav-link {
    color: var(--color-white);
    
    	&.active {
		span {
			color: var(--color-blue);
		}
	}
	
	&:active,
	&:focus,
	&:hover {
		color: var(--color-blue) !important;
		transition: color .6s ease !important;
	}
}

.navbar-light .navbar-brand {
	color: var(--color-blue);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: var(--color-white);
    transition: color .6s ease;
}

#navbar-main .main-menu-item .nav-link {
	color: var(--color-white) !important;
	
	&.active {
		span {
			color: var(--color-blue);
		}
	}
	
	&:active,
	&:focus,
	&:hover {
		color: var(--color-blue) !important;
		transition: color .6s ease;
	}
}

.page-footer, .site-footer {
	font-family: "Fira Sans";
	background-color: var(--color-anthracite);
	color: var(--color-white);
}

.page-footer, .site-footer a {
	&:active,
	&:focus,
	&:hover {
		color: var(--color-white) !important;
		transition: color .6s ease;
	}
}

.section-subheading {
	font-family: "Fira Sans";
	
	a {
		color: var(--color-blue);
		background-color: transparent;
		text-decoration: none !important;
		
		&:active,
		&:focus,
		&:hover {
			color: var(--color-anthracite);
			transition: color .6s ease !important;
		}
	}
}

.w-100 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}